.section4 {
    margin: 0px 10%;
}

.section4-teamMeet h2{
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5vw;
    margin: 0px;
}

.bottom-border {
    width: 130px;
    height: 30px;
    border-bottom: #FF2D2D 3px solid;   
}

.section4-team {
    margin-top: 5vw;
    display: flex;
    min-width: 800px;
}

.section4-team-mainPortret{
    min-width: 250px;
    max-width: 300px;
    margin-right: 3vw;
}

.section4-team-inf{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.section4-team-inf h2{
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5vw;
    margin: 0px;
}

.section4-linkBar {
    margin: 3vw 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 360px;
    font-style: italic;
    font-size: 18px;
}

.section4-linkBar a{
    margin: 0px 10px;
    text-decoration: none;
    color: #000000;
}

.section4-linkBar a:hover{
    color: #FF2D2D;
}

.section4-smallPortrets{
    justify-self: flex-end;
    display: flex;
    flex-wrap: wrap;
}

.section4-smallPortrets>div{
    flex: 1 1 150px;
    display: flex;
    justify-content: center;
    margin: 0.5vw;
    background-color: #f6f2f2;
    position: relative;
}

.section4-smallPortrets img{
    width: 130px;
}

.smallPortrets-names {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.smallPortrets-names p{
    margin: 0px;
    position: absolute;
    left:0px;
    bottom:0px;
    height: 25px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
}

.smallPortrets-names:hover{
    opacity: 1;
}

@media (max-width:920px){
    .section4-teamMeet h2{
        font-size: 5vw;
    }

    .section4-team {
        flex-direction: column;
        min-width: 250px;
    }

    .section4-team-inf h2{
        font-size: 5vw;
    }

    .section4-team-mainPortret{
        min-width: 200px;
    }

    .section4-smallPortrets{
        flex-wrap: wrap;
    }
}

@media (max-width:720px){
    .section4{
        margin: 0 5%;
    }

    .section4-teamMeet h2{
        font-size: 10vw;
    }

    .section4-team-inf h2{
        font-size: 10vw;
    }
}